.c-breadcrumb{
  display: none;

  @include breakpoint(pc){
    display: block;
    margin-top: 10px;
  }

  &__list{
    display: flex;
    font-size: 1.4rem;
    color: $color-txt-gray;
  }

  &__item{

    & + .c-breadcrumb__item{

      &::before{
        content: '>';
        display: inline-block;
        margin: 0 5px;
      }
    }
  }

  &__link{
    &:hover{
      text-decoration: underline;
    }
  }
}
