@use "foundation/mixin";
@use "foundation/variable";
.c-contents{
  padding: 0 20px;

  @include mixin.breakpoint(pc){
    width: 1020px;
    margin: 0 auto;
    padding: 0;
  }

  &.is-narrow{
    @include mixin.breakpoint(pc){
      width: 770px;
    }
  }
}
