.c-newsList{
  border-top: 1px dashed $color-gray;

  &__item{
    border-bottom: 1px dashed $color-gray;
  }

  &__link{
    display: block;
    padding: 15px 0;

    @include breakpoint(pc){
      display: flex;
      padding: 20px;
      transition: background-color 0.2s;

      &:hover{
        background-color: rgba($color-pink, 0.3);
      }
    }
  }

  &__date{
    font-size: 1.2rem;

    @include breakpoint(pc){
      font-size: 1.6rem;
      width: 160px;
    }
  }

  &__ttl{
    margin-top: 5px;
    font-size: 1.4rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include breakpoint(pc){
      font-size: 1.6rem;
      width: calc(100% - 160px);
      margin: 0;
    }
  }
}
