<!-- /templates/customers/register.liquid -->
<div class="c-contents">
  <div class="c-breadcrumb">
    <ul class="c-breadcrumb__list">
      <li class="c-breadcrumb__item"><a class="c-breadcrumb__link" href="/">TOP</a></li>
      <li class="c-breadcrumb__item"><span class="c-breadcrumb__text">新規会員登録</span></li>
    </ul>
  </div>
  <h1 class="c-heading--lv1">新規会員登録</h1>
</div>

<div class="c-contents is-narrow">
  <div class="contact">
    {% form 'create_customer' %}

      {{ form.errors | default_errors }}

      <div class="c-block">
        <label class="c-heading--lv3" for="FirstName">姓</label>
        <input class="c-input--text" type="text" placeholder="山田" id="FirstName" name="customer[first_name]">
      </div>
      <div class="c-block">
        <label class="c-heading--lv3" for="LastName">名</label>
        <input class="c-input--text" type="text" placeholder="太郎" id="LastName" name="customer[last_name]">
      </div>
      <div class="c-block">
        <label class="c-heading--lv3" for="Email">メールアドレス</label>
        <input class="{% if form.errors contains 'email' %} input--error{% endif %} c-input--text" placeholder="contact@rishry.com" type="email" id="Email" name="customer[email]">
        <!-- <p class="contact__error">入力してください</p> -->
      </div>
      <div class="c-block">
        <label class="c-heading--lv3" for="CreatePassword">パスワード</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %} c-input--text" placeholder="パスワードを入力">
        <!-- <p class="contact__error">入力してください</p> -->
      </div>

      <div class="c-button contact__bottom">
        <span>登録</span>
        <input class="contact__submit" type="submit" value="">
      </div>
    {% endform %}
  </div>
</div>
