<form class="l-header-search">
  <input class="c-input--text" type="text" placeholder="ブランド・フリーワードで探す">
  <input type="submit" value="">
</form>
<div class="c-contents">
  <div class="c-breadcrumb">
    <ul class="c-breadcrumb__list">
      <li class="c-breadcrumb__item"><a class="c-breadcrumb__link" href="/">TOP</a></li>
      <li class="c-breadcrumb__item"><span class="c-breadcrumb__text">{{ page.title }}</span></li>
    </ul>
  </div>
  <h1 class="c-heading--lv1">{{ page.title }}</h1>
</div>
<div class="c-contents is-narrow">
  {{ page.content }}
</div>
