@use "foundation/mixin";
@use "foundation/variable";
.contact{

  .c-heading--lv3{
    font-size: 1.6rem;
    margin-bottom: 10px;

    @include mixin.breakpoint(pc){
      font-size: 2rem;
      margin-bottom: 25px;
    }
  }

  &__bottom{
    margin-top: 30px;

    @include mixin.breakpoint(pc){
      margin-top: 60px;
    }

    .c-button{
      span{
        font-size: 1.5rem;

        @include mixin.breakpoint(pc){
          font-size: 1.8rem;
        }
      }
    }
  }

  &__error{
    color: variable.$color-txt-pink;
    font-size: 1.4rem;
    margin-top: 10px;
  }
}
