@use "foundation/mixin";
@use "foundation/variable";
.contact{

  .c-heading--lv3{
    font-size: 1.6rem;
    margin-bottom: 10px;
    display: block;

    @include mixin.breakpoint(pc){
      font-size: 2rem;
      margin-bottom: 25px;
    }
  }

  &__bottom{
    margin-top: 30px;
    position: relative;
    &::after {
      z-index: -1;
    }

    @include mixin.breakpoint(pc){
      margin-top: 60px;
    }
    .contact__submit {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

    span{
      font-size: 1.5rem;
      z-index: 0;

      @include mixin.breakpoint(pc){
        font-size: 1.8rem;
      }
    }
  }

  &__error{
    color: variable.$color-txt-pink;
    font-size: 1.4rem;
    margin-top: 10px;
  }
}
