    <footer class="l-footer">
      <div class="l-footer__inner">
        <div class="l-footer__main"><a class="l-footer__logo" href="/"><img src="{{ 'logo.png' | asset_url }}" alt="Rishry"></a>
          <div class="l-footer__btns"><a class="c-button is-white" href=""><span>新規会員登録</span></a><a class="c-button is-white" href=""><span>マイページ</span></a></div>
        </div>
        <div class="l-footer__menu">
          <div class="l-footer__block">
            <p class="l-footer__heading">Items</p>
            <ul class="l-footer__list">
              <!-- <li class="l-footer__item"><a class="l-footer__link" href="list.html">コーデから探す</a></li> -->
              <li class="l-footer__item"><a class="l-footer__link" href="/collections/all/">古着から探す</a></li>
              <li class="l-footer__item"><a class="l-footer__link" href="list.html">ブランドから探す</a></li>
            </ul>
          </div>
          <div class="l-footer__block">
            <p class="l-footer__heading">Support</p>
            <ul class="l-footer__list">
              <li class="l-footer__item"><a class="l-footer__link" href="">ショッピングガイド</a></li>
              <li class="l-footer__item"><a class="l-footer__link" href="/pages/faq/">よくある質問</a></li>
              <li class="l-footer__item"><a class="l-footer__link" href="/pages/contact/">お問い合わせ</a></li>
            </ul>
          </div>
          <div class="l-footer__block">
            <p class="l-footer__heading">Company</p>
            <ul class="l-footer__list">
              <li class="l-footer__item"><a class="l-footer__link" href="">特定商取引法に基づく表示</a></li>
              <li class="l-footer__item"><a class="l-footer__link" href="">古物営業法に基づく表示</a></li>
              <li class="l-footer__item"><a class="l-footer__link" href="">プライバシーポリシー</a></li>
              <li class="l-footer__item"><a class="l-footer__link" href="">会社概要</a></li>
            </ul>
          </div>
        </div>
        <div class="l-footer__bottom">
          <p class="l-footer__copy"><small>&copy; 2021 Rishry</small></p>
        </div>
      </div>
    </footer>
