<div class="filter js-filterBody">
  <div class="filter__inner">

    <div class="filter__block">
      <ul class="filter__links">
        <!-- <li><a href="">コーデから探す</a></li> -->
        <li><a href="/collections/all/">古着から探す</a></li>
        <li><a href="">ブランドから探す</a></li>
      </ul>
    </div>

    <div class="filter__block">
      <p class="c-heading--lv3">ジャンル</p>
      <ul class="filter__checks">
        <li>
          <input type="checkbox" id="genre01">
          <label for="genre01">ジャンル名</label>
        </li>
        <li>
          <input type="checkbox" id="genre02">
          <label for="genre02">ジャンル名</label>
        </li>
        <li>
          <input type="checkbox" id="genre03">
          <label for="genre03">ジャンル名</label>
        </li>
      </ul>
    </div>

    <div class="filter__block">
      <p class="c-heading--lv3">性別</p>
      <ul class="filter__checks">
        <li>
          <input type="checkbox" id="gender01" value="レディース">
          <label for="gender01">レディース</label>
        </li>
        <li>
          <input type="checkbox" id="gender02" value="メンズ">
          <label for="gender02">メンズ</label>
        </li>
        <li>
          <input type="checkbox" id="gender03" value="キッズ">
          <label for="gender03">キッズ</label>
        </li>
      </ul>
    </div>

    <div class="filter__block">
      <p class="c-heading--lv3">価格</p>
      <ul class="filter__checks">
        <li>
          <input type="checkbox" id="price01">
          <label for="price01">〜5,000円</label>
        </li>
        <li>
          <input type="checkbox" id="price02">
          <label for="price02">〜10,000円</label>
        </li>
        <li>
          <input type="checkbox" id="price03">
          <label for="price03">〜20,000円</label>
        </li>
        <li>
          <input type="checkbox" id="price04">
          <label for="price04">20,001円〜</label>
        </li>
      </ul>
    </div>

    <div class="filter__block">
      <p class="c-heading--lv3">カラー</p>
      <ul class="filter__checks">
        <li>
          <input type="checkbox" id="color01" value="ホワイト">
          <label for="color01">ホワイト</label>
        </li>
        <li>
          <input type="checkbox" id="color02">
          <label for="color02">ブラック</label>
        </li>
        <li>
          <input type="checkbox" id="color03">
          <label for="color03">レッド</label>
        </li>
        <li>
          <input type="checkbox" id="color04">
          <label for="color04">ブルー</label>
        </li>
      </ul>
    </div>

    <div class="filter__block">
      <p class="c-heading--lv3">コンディション</p>
      <ul class="filter__checks">
        <li>
          <input type="checkbox" id="condition01">
          <label for="condition01">S：新品同様</label>
        </li>
        <li>
          <input type="checkbox" id="condition02">
          <label for="condition02">A：使用感なし</label>
        </li>
        <li>
          <input type="checkbox" id="condition03">
          <label for="condition03">B：目立つ使用感なし</label>
        </li>
        <li>
          <input type="checkbox" id="condition04">
          <label for="condition04">C：やや使用感あり</label>
        </li>
        <li>
          <input type="checkbox" id="condition04">
          <label for="condition04">D：傷・汚れあり</label>
        </li>
      </ul>
    </div>

    <div class="filter__block">
      <p class="c-heading--lv3">サイズ</p>
      <ul class="filter__checks">
        <li>
          <input type="checkbox" id="size01">
          <label for="size01">L</label>
        </li>
        <li>
          <input type="checkbox" id="size02">
          <label for="size02">M</label>
        </li>
        <li>
          <input type="checkbox" id="size03">
          <label for="size03">S</label>
        </li>
      </ul>
    </div>

    <div class="filter__block">
      <a class="c-button" id="js-search" href=""><span>絞り込み</span></a>
    </div>

    <div class="filter__block">
      <ul class="filter__links">
        <li><a href="/collections/Rishry">Rishry</a></li>
        <li><a href="">ブランド名</a></li>
        <li><a href="">ブランド名</a></li>
        <li><a href="">ブランド名</a></li>
        <li><a href="">ブランド名</a></li>
        <li><a href="">ブランド名</a></li>
      </ul>
    </div>
  </div>
</div>
