footer.l-footer
  div.l-footer__inner
    div.l-footer__main
      a(href="/").l-footer__logo
        img(src="/assets/logo.png" alt="Rishry")
      div.l-footer__btns
        a(href="").c-button.is-white: span 新規会員登録
        a(href="").c-button.is-white: span マイページ

    div.l-footer__menu
      div.l-footer__block
        p.l-footer__heading Items
        ul.l-footer__list
          li.l-footer__item
            a(href="list.html").l-footer__link コーデから探す
          li.l-footer__item
            a(href="list.html").l-footer__link 古着から探す
          li.l-footer__item
            a(href="list.html").l-footer__link ブランドから探す
      div.l-footer__block
        p.l-footer__heading Support
        ul.l-footer__list
          li.l-footer__item
            a(href="").l-footer__link ショッピングガイド
          li.l-footer__item
            a(href="").l-footer__link よくある質問
          li.l-footer__item
            a(href="").l-footer__link お問い合わせ
      div.l-footer__block
        p.l-footer__heading Company
        ul.l-footer__list
          li.l-footer__item
            a(href="").l-footer__link 特定商取引法に基づく表示
          li.l-footer__item
            a(href="").l-footer__link 古物営業法に基づく表示
          li.l-footer__item
            a(href="").l-footer__link プライバシーポリシー
          li.l-footer__item
            a(href="").l-footer__link 会社概要
    div.l-footer__bottom
      p.l-footer__copy
        small &copy; 2021 Rishry

