extends /_include/_layout.pug

block title
  title Rishry

block body
  div.c-contents
    div.c-breadcrumb
      ul.c-breadcrumb__list
        li.c-breadcrumb__item
          a(href="/").c-breadcrumb__link TOP
        li.c-breadcrumb__item
          a(href="/list.html").c-breadcrumb__link なにがしの商品一覧
        li.c-breadcrumb__item
          span.c-breadcrumb__text 商品名が入ります

    div.detail
      div.detail-mv
        div.detail-mv__slider.js-slider
          div.detail-mv__slide
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          div.detail-mv__slide
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          div.detail-mv__slide
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          div.detail-mv__slide
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          div.detail-mv__slide
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          div.detail-mv__slide
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          div.detail-mv__slide
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          div.detail-mv__slide
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
        ul.detail-mv__thumbs
          li.detail-mv__thumb
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          li.detail-mv__thumb
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          li.detail-mv__thumb
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          li.detail-mv__thumb
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          li.detail-mv__thumb
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          li.detail-mv__thumb
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          li.detail-mv__thumb
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img
          li.detail-mv__thumb
            img(src="https://via.placeholder.com/510x510" alt="").detail-mv__img

      div.detail-main
        h1.c-heading--lv1 商品名が入ります
        p.detail-main__id 商品ID：abcdefg001
        p.detail-main__price
          span 10,000
          span 円（税込）
        p.detail-main__text
          | 商品の説明テキストが入ります。商品の説明テキストが入ります。商品の説明テキストが入ります。商品の説明テキストが入ります。商品の説明テキストが入ります。

        div.detail-main__btns
          a(href="").c-button.is-center: span add cart
          a(href="").c-button.is-center.is-strong: span すぐに購入

        div.detail-main__info
          h2.c-heading--lv3 ジャケット
          dl.c-table
            dt ブランド
            dd ブランド名
            dt ブランド
            dd ブランド名ブランド名ブランド名ブランド名ブランド名ブランド名ブランド名ブランド名
            dt ブランド
            dd ブランド名

        div.detail-main__info
          h2.c-heading--lv3 ジャケット
          dl.c-table
            dt ブランド
            dd ブランド名
            dt ブランド
            dd ブランド名
            dt ブランド
            dd ブランド名
            dt ブランド
            dd ブランド名
            dt ブランド
            dd ブランド名

        div.detail-main__btns
          a(href="").c-button.is-center: span add cart
          a(href="").c-button.is-center.is-strong: span すぐに購入

        div.detail-main__share
          p この商品をシェアする


