extends /_include/_layout.pug

block title
  title Rishry

block body
  div.c-contents
    div.c-breadcrumb
      ul.c-breadcrumb__list
        li.c-breadcrumb__item
          a(href="/").c-breadcrumb__link TOP
        li.c-breadcrumb__item
          span.c-breadcrumb__text よくあるご質問

    h1.c-heading--lv1 よくあるご質問

  div.c-contents.is-narrow
    div.c-block
      h2.c-heading--lv2: span 送料について
      ul.c-faq
        li.c-faq__item
          a(href="#").c-faq__ttl 質問が入ります。
          div.c-faq__body
            p.c-faq__text
              | テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        li.c-faq__item
          a(href="#").c-faq__ttl 質問が入ります。質問が入ります。質問が入ります。質問が入ります。質問が入ります。
          div.c-faq__body
            p.c-faq__text
              | テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        li.c-faq__item
          a(href="#").c-faq__ttl 質問が入ります。
          div.c-faq__body
            p.c-faq__text
              | テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。

    div.c-block
      h2.c-heading--lv2: span 送料について
      ul.c-faq
        li.c-faq__item
          a(href="#").c-faq__ttl 質問が入ります。
          div.c-faq__body
            p.c-faq__text
              | テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        li.c-faq__item
          a(href="#").c-faq__ttl 質問が入ります。
          div.c-faq__body
            p.c-faq__text
              | テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        li.c-faq__item
          a(href="#").c-faq__ttl 質問が入ります。
          div.c-faq__body
            p.c-faq__text
              | テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。

