extends /_include/_layout.pug

block title
  title Rishry

block body
  div.top-mv
    div.top-mv__item
      a(href="").top-mv__link
        img(src="https://via.placeholder.com/1020x580").top-mv__img

  div.c-contents
    section.c-section
      h2.c-heading--lv2.is-en: span New Arrival
      div
        ul.c-itemList
          li.c-itemList__item
            a(href="detail.html").c-itemList__link
              div.c-itemList__img
                img(src="https://via.placeholder.com/240x240" alt="")
              p.c-itemList__name 商品名が入ります。商品名が入ります。商品名が入ります。
              p.c-itemList__price 5,000円
          li.c-itemList__item
            a(href="detail.html").c-itemList__link
              div.c-itemList__img
                img(src="https://via.placeholder.com/240x240" alt="")
              p.c-itemList__name 商品名が入ります。商品名が入ります。商品名が入ります。
              p.c-itemList__price 5,000円
          li.c-itemList__item
            a(href="detail.html").c-itemList__link
              div.c-itemList__img
                img(src="https://via.placeholder.com/240x240" alt="")
              p.c-itemList__name 商品名が入ります。商品名が入ります。商品名が入ります。
              p.c-itemList__price 5,000円
          li.c-itemList__item
            a(href="detail.html").c-itemList__link
              div.c-itemList__img
                img(src="https://via.placeholder.com/240x240" alt="")
              p.c-itemList__name 商品名が入ります。商品名が入ります。商品名が入ります。
              p.c-itemList__price 5,000円
          li.c-itemList__item
            a(href="detail.html").c-itemList__link
              div.c-itemList__img
                img(src="https://via.placeholder.com/240x240" alt="")
              p.c-itemList__name 商品名が入ります。商品名が入ります。商品名が入ります。
              p.c-itemList__price 5,000円
          li.c-itemList__item
            a(href="detail.html").c-itemList__link
              div.c-itemList__img
                img(src="https://via.placeholder.com/240x240" alt="")
              p.c-itemList__name 商品名が入ります。商品名が入ります。商品名が入ります。
              p.c-itemList__price 5,000円
          li.c-itemList__item
            a(href="detail.html").c-itemList__link
              div.c-itemList__img
                img(src="https://via.placeholder.com/240x240" alt="")
              p.c-itemList__name 商品名が入ります。商品名が入ります。商品名が入ります。
              p.c-itemList__price 5,000円
          li.c-itemList__item
            a(href="detail.html").c-itemList__link
              div.c-itemList__img
                img(src="https://via.placeholder.com/240x240" alt="")
              p.c-itemList__name 商品名が入ります。商品名が入ります。商品名が入ります。
              p.c-itemList__price 5,000円
        a(href="list.html").c-button.is-center: span more

    section.c-section
      h2.c-heading--lv2.is-en: span News
      div
        ul.c-newsList
          li.c-newsList__item
            a(href="").c-newsList__link
              span.c-newsList__date 2020.12.12
              p.c-newsList__ttl お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。
          li.c-newsList__item
            a(href="").c-newsList__link
              span.c-newsList__date 2020.12.12
              p.c-newsList__ttl お知らせのタイトルが入ります。お知らせのタイトルが入ります。
          li.c-newsList__item
            a(href="").c-newsList__link
              span.c-newsList__date 2020.12.12
              p.c-newsList__ttl お知らせのタイトルが入ります。お知らせのタイトルが入ります。


