extends /_include/_layout.pug

block title
  title Rishry

block body
  div.c-contents
    ul
      li(style="margin: 20px 0; font-size: 18px;")
        a(href="index.html") トップページ
      li(style="margin: 20px 0; font-size: 18px;")
        a(href="list.html") 一覧ページ
      li(style="margin: 20px 0; font-size: 18px;")
        a(href="detail.html") 詳細ページ
      li(style="margin: 20px 0; font-size: 18px;")
        a(href="contact.html") 問い合わせページ
      li(style="margin: 20px 0; font-size: 18px;")
        a(href="faq.html") よくある質問ページ
      li(style="margin: 20px 0; font-size: 18px;")
        a(href="cart.html") カートページ
