@use "foundation/mixin";
@use "foundation/variable";
.l-header{
  background-color: variable.$color-pink;

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 10px;
    position: relative;

    @include mixin.breakpoint(pc){
      display: block;
      height: 130px;
      padding: 0 50px;
    }
  }

  &__lead{
    display: none;

    @include mixin.breakpoint(pc){
      display: block;
      padding: 15px 0 0;
      font-size: 1.2rem;
      margin: 0 0 10px;
    }
  }

  &__btn{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;

    @include mixin.breakpoint(pc){
      display: none;
    }

    &.is-open{

      &::before{
        transform: rotate(45deg);
        top: 20px;
      }

      &::after{
        transform: rotate(-45deg);
        top: 20px;
      }

      span{
        display: none;
      }
    }

    &::before,
    &::after{
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background-color: #333;
      position: absolute;
      left: 5px;
    }

    &::before{
      top: 10px;
    }

    &::after{
      top: 19px;
    }

    span{
      display: block;
      width: 20px;
      height: 2px;
      background-color: #333;
      position: absolute;
      left: 5px;
      bottom: 10px;
    }
  }

  &__logo{
    display: block;
    width: 90px;

    @include mixin.breakpoint(pc){
      width: 150px;
    }

    img{
      display: block;
      width: 100%;
    }
  }

  &__cart{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(./icon_cart.svg);
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: center;

    @include mixin.breakpoint(pc){
      display: none;
    }
  }

  &__menu{
    display: none;

    @include mixin.breakpoint(pc){
      display: block;
      position: absolute;
      top: 20px;
      right: 50px;
    }
  }

  &__navi{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 100;

    @include mixin.breakpoint(pc){
      display: block !important;
      background-color: transparent;
      top: auto;
      left: auto;
      width: auto;
      bottom: 36px;
      right: 320px;
    }
  }

  &__search{
    display: none;

    @include mixin.breakpoint(pc){
      display: block;
      position: absolute;
      width: 250px;
      height: 40px;
      bottom: 25px;
      right: 50px;
    }

    .c-input--text{
      padding-right: 40px;
    }

    input[type="submit"]{
      position: absolute;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -10px;
      background-image: url(./icon_search-gray.svg);
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: center;
    }
  }
}

.l-header-search{
  padding: 20px;
  position: relative;
  border-bottom: 1px solid variable.$color-gray;

  @include mixin.breakpoint(pc){
    display: none;
  }

  .c-input--text{
    border-radius: 40px;
    padding: 0 40px 0 20px;
  }

  button{
    position: absolute;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: -10px;
    background-image: url(./icon_search-gray.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    font-size: 0;
  }
}
