.l-navi{

  &__list{
    padding: 20px 40px;

    @include breakpoint(pc){
      display: flex;
      padding: 0;
    }
  }

  &__item{

    & + .l-navi__item{
      border-top: 1px solid $color-gray;

      @include breakpoint(pc){
        border-top: none;
        margin-left: 15px;
      }
    }
  }

  &__link{
    display: block;
    font-size: 1.6rem;
    padding: 20px;

    @include breakpoint(pc){
      padding: 0;
      transition: opacity 0.2s;

      &:hover{
        opacity: 0.6;
      }
    }
  }

  &__menu{
    background-color: $color-pink;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;

    @include breakpoint(pc){
      display: none;
    }

    a{
      margin: 0 10px;
      font-size: 1.4rem;
    }
  }
}
