/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Roboto:wght@400;500&display=swap);
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 100%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-size: 10px;
  color: #333;
  font-weight: 400;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.l-footer {
  background-color: #FFEDEE;
  margin-top: 60px;
}

@media (min-width: 769px) {
  .l-footer {
    margin-top: 120px;
  }
}

.l-footer__inner {
  padding: 30px 20px 40px;
}

@media (min-width: 769px) {
  .l-footer__inner {
    max-width: 1060px;
    margin: 0 auto;
    padding: 30px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .l-footer__main {
    width: calc(100% - 580px);
  }
}

.l-footer__logo {
  display: block;
  width: 120px;
  margin: 0 0 15px;
}

@media (min-width: 769px) {
  .l-footer__logo {
    width: 150px;
  }
}

.l-footer__logo img {
  display: block;
  width: 100%;
}

.l-footer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px;
}

@media (min-width: 769px) {
  .l-footer__btns {
    display: block;
  }
}

.l-footer__btns .c-button {
  width: calc(50% - 12px);
}

@media (min-width: 769px) {
  .l-footer__btns .c-button {
    width: 226px;
    height: 46px;
    font-size: 1.6rem;
    margin-top: 20px;
  }
}

.l-footer__btns .c-button span {
  font-size: 14px;
  font-size: 1.4rem;
}

@media (min-width: 769px) {
  .l-footer__btns .c-button span {
    font-size: 1.6rem;
  }
}

.l-footer__menu {
  border-top: 1px solid #CCC;
}

@media (min-width: 769px) {
  .l-footer__menu {
    width: calc(100% - 430px);
    width: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: none;
    padding: 20px 0 0;
  }
}

.l-footer__block {
  border-bottom: 1px solid #CCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px;
}

@media (min-width: 769px) {
  .l-footer__block {
    width: 180px;
    display: block;
    border-bottom: none;
    padding: 0;
  }
}

@media (min-width: 769px) {
  .l-footer__block + .l-footer__block {
    margin-left: 20px;
  }
}

.l-footer__heading {
  width: 100px;
  font-size: 14px;
  font-size: 1.4rem;
}

@media (min-width: 769px) {
  .l-footer__heading {
    width: 100%;
    border-bottom: 1px solid #CCC;
    font-size: 1.6rem;
    padding: 0 0 15px;
  }
}

.l-footer__list {
  width: calc(100% - 100px);
}

@media (min-width: 769px) {
  .l-footer__list {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .l-footer__item {
    margin-top: 15px;
  }
}

.l-footer__item + .l-footer__item {
  margin-top: 15px;
}

.l-footer__link {
  font-size: 12px;
  font-size: 1.2rem;
}

@media (min-width: 769px) {
  .l-footer__link:hover {
    text-decoration: underline;
  }
}

.l-footer__bottom {
  margin: 40px 0 0;
}

@media (min-width: 769px) {
  .l-footer__bottom {
    width: 100%;
  }
}

.l-footer__copy {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 769px) {
  .l-footer__copy {
    text-align: right;
  }
}

.l-header {
  background-color: #FFEDEE;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 0 10px;
  position: relative;
}

@media (min-width: 769px) {
  .l-header__inner {
    display: block;
    height: 130px;
    padding: 0 50px;
  }
}

.l-header__lead {
  display: none;
}

@media (min-width: 769px) {
  .l-header__lead {
    display: block;
    padding: 15px 0 0;
    font-size: 1.2rem;
    margin: 0 0 10px;
  }
}

.l-header__btn {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}

@media (min-width: 769px) {
  .l-header__btn {
    display: none;
  }
}

.l-header__btn.is-open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 20px;
}

.l-header__btn.is-open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 20px;
}

.l-header__btn.is-open span {
  display: none;
}

.l-header__btn::before, .l-header__btn::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 5px;
}

.l-header__btn::before {
  top: 10px;
}

.l-header__btn::after {
  top: 19px;
}

.l-header__btn span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 5px;
  bottom: 10px;
}

.l-header__logo {
  display: block;
  width: 90px;
}

@media (min-width: 769px) {
  .l-header__logo {
    width: 150px;
  }
}

.l-header__logo img {
  display: block;
  width: 100%;
}

.l-header__cart {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./icon_cart.svg);
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: center;
}

@media (min-width: 769px) {
  .l-header__cart {
    display: none;
  }
}

.l-header__menu {
  display: none;
}

@media (min-width: 769px) {
  .l-header__menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
  }
}

.l-header__navi {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}

@media (min-width: 769px) {
  .l-header__navi {
    display: block !important;
    background-color: transparent;
    top: auto;
    left: auto;
    width: auto;
    bottom: 36px;
    right: 320px;
  }
}

.l-header__search {
  display: none;
}

@media (min-width: 769px) {
  .l-header__search {
    display: block;
    position: absolute;
    width: 250px;
    height: 40px;
    bottom: 25px;
    right: 50px;
  }
}

.l-header__search .c-input--text {
  padding-right: 40px;
}

.l-header__search input[type="submit"] {
  position: absolute;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  background-image: url(./icon_search-gray.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.l-header-search {
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #CCC;
}

@media (min-width: 769px) {
  .l-header-search {
    display: none;
  }
}

.l-header-search .c-input--text {
  border-radius: 40px;
  padding: 0 40px 0 20px;
}

.l-header-search input[type="submit"] {
  position: absolute;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 40px;
  margin-top: -10px;
  background-image: url(./icon_search-gray.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.l-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-menu__item {
  margin: 0 0 0 10px;
}

.l-menu__link {
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.l-menu__link:hover {
  opacity: 0.6;
}

.l-menu__link.is-cart {
  background-image: url(./icon_cart.svg);
  background-size: 18px;
}

.l-menu__link.is-mail {
  background-image: url(./icon_mail.svg);
  background-size: 16px;
}

.l-menu__link.is-login {
  background-image: url(./icon_login.svg);
  background-size: 20px;
  background-position: center 3px;
}

.l-menu__link.is-user {
  background-image: url(./icon_user.svg);
  background-size: 20px;
}

.l-navi__list {
  padding: 20px 40px;
}

@media (min-width: 769px) {
  .l-navi__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}

.l-navi__item + .l-navi__item {
  border-top: 1px solid #CCC;
}

@media (min-width: 769px) {
  .l-navi__item + .l-navi__item {
    border-top: none;
    margin-left: 15px;
  }
}

.l-navi__link {
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 20px;
}

@media (min-width: 769px) {
  .l-navi__link {
    padding: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .l-navi__link:hover {
    opacity: 0.6;
  }
}

.l-navi__menu {
  background-color: #FFEDEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

@media (min-width: 769px) {
  .l-navi__menu {
    display: none;
  }
}

.l-navi__menu a {
  margin: 0 10px;
  font-size: 14px;
  font-size: 1.4rem;
}

@media (min-width: 769px) {
  .l-wrap {
    min-width: 1060px;
  }
}

.c-block + .c-block {
  margin-top: 30px;
}

@media (min-width: 769px) {
  .c-block + .c-block {
    margin-top: 60px;
  }
}

.c-breadcrumb {
  display: none;
}

@media (min-width: 769px) {
  .c-breadcrumb {
    display: block;
    margin-top: 10px;
  }
}

.c-breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-size: 1.4rem;
  color: #707070;
}

.c-breadcrumb__item + .c-breadcrumb__item::before {
  content: '>';
  display: inline-block;
  margin: 0 5px;
}

.c-breadcrumb__link:hover {
  text-decoration: underline;
}

.c-button {
  position: relative;
  display: block;
  width: 200px;
  height: 40px;
}

@media (min-width: 769px) {
  .c-button {
    width: 300px;
    height: 50px;
  }
  .c-button:hover::after {
    top: 0;
    left: 0;
  }
}

.c-button.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.c-button.is-center {
  margin: 0 auto;
}

.c-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  pointer-events: none;
  background-color: #FFEDEE;
}

@media (min-width: 769px) {
  .c-button::after {
    top: 10px;
    left: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

.c-button span {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #CCC;
  width: 100%;
  height: 100%;
  color: #707070;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 3px 0 0;
}

@media (min-width: 769px) {
  .c-button span {
    padding: 0;
  }
}

.c-button.is-white::after {
  background-color: #fff;
}

.c-button.is-strong {
  border-color: #707070;
}

.c-button.is-strong::after {
  background-color: #FFDDDE;
}

.c-contents {
  padding: 0 20px;
}

@media (min-width: 769px) {
  .c-contents {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 769px) {
  .c-contents.is-narrow {
    width: 770px;
  }
}

.c-faq {
  border-top: 1px solid #CCC;
}

.c-faq__item {
  border-bottom: 1px solid #CCC;
}

.c-faq__ttl {
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 15px 30px 15px 10px;
  position: relative;
  line-height: 1.4;
}

@media (min-width: 769px) {
  .c-faq__ttl {
    padding: 20px;
  }
}

.c-faq__ttl.is-open::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 24px;
}

.c-faq__ttl::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  position: absolute;
  top: 18px;
  right: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 769px) {
  .c-faq__ttl::after {
    display: none;
  }
}

.c-faq__body {
  display: none;
  padding: 0 10px 15px;
}

@media (min-width: 769px) {
  .c-faq__body {
    display: block;
    padding: 0 20px 30px;
  }
}

.c-faq__text {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7;
}

.c-heading--lv1 {
  font-size: 22px;
  font-size: 2.2rem;
  margin: 20px 0 30px;
}

@media (min-width: 769px) {
  .c-heading--lv1 {
    font-size: 3.2rem;
    margin: 20px 0 60px;
  }
}

.c-heading--lv2 {
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 769px) {
  .c-heading--lv2 {
    margin-bottom: 30px;
  }
}

.c-heading--lv2.is-left {
  text-align: left;
}

.c-heading--lv2.is-en span {
  font-size: 24px;
  font-size: 2.4rem;
}

@media (min-width: 769px) {
  .c-heading--lv2.is-en span {
    font-size: 3.6rem;
  }
}

.c-heading--lv2 span {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #FFEDEE));
  background: linear-gradient(transparent 60%, #FFEDEE 60%);
}

@media (min-width: 769px) {
  .c-heading--lv2 span {
    font-size: 2.8rem;
    padding: 0 15px;
  }
}

.c-heading--lv3 {
  font-size: 20px;
  font-size: 2rem;
  border-left: 5px solid #FFEDEE;
  padding: 5px 10px;
  margin: 0 0 20px;
}

.c-input--text {
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 0 10px;
}

.c-input--text::-webkit-input-placeholder {
  color: #707070;
  font-size: 14px;
  font-size: 1.4rem;
}

.c-input--text::-moz-placeholder {
  color: #707070;
  font-size: 14px;
  font-size: 1.4rem;
}

.c-input--text::-ms-input-placeholder {
  color: #707070;
  font-size: 14px;
  font-size: 1.4rem;
}

.c-input--text::placeholder {
  color: #707070;
  font-size: 14px;
  font-size: 1.4rem;
}

.c-input--text:focus {
  -webkit-box-shadow: 0px 0px 3px 3px #FFEDEE;
          box-shadow: 0px 0px 3px 3px #FFEDEE;
  background-color: #fff;
}

.c-input--text.is-error {
  background-color: #FFEDEE;
}

.c-input--textarea {
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 6px;
  width: 100%;
  min-height: 100px;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 10px;
}

@media (min-width: 769px) {
  .c-input--textarea {
    min-height: 160px;
  }
}

.c-itemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

@media (min-width: 769px) {
  .c-itemList {
    margin: 0 -10px -10px;
  }
}

.c-itemList__item {
  width: 50%;
  padding: 0 10px;
  margin: 0 0 20px;
}

@media (min-width: 769px) {
  .c-itemList__item {
    width: 25%;
    margin: 0 0 40px;
  }
}

.c-itemList__link {
  display: block;
}

@media (min-width: 769px) {
  .c-itemList__link {
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .c-itemList__link:hover {
    opacity: 0.7;
  }
}

.c-itemList__img {
  margin: 0 0 10px;
}

.c-itemList__img img {
  display: block;
  width: 100%;
}

.c-itemList__name {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 0 5px;
}

@media (min-width: 769px) {
  .c-itemList__name {
    font-size: 1.4rem;
  }
}

.c-itemList__price {
  font-size: 16px;
  font-size: 1.6rem;
}

@media (min-width: 769px) {
  .c-itemList__price {
    font-size: 1.8rem;
  }
}

.c-newsList {
  border-top: 1px dashed #CCC;
}

.c-newsList__item {
  border-bottom: 1px dashed #CCC;
}

.c-newsList__link {
  display: block;
  padding: 15px 0;
}

@media (min-width: 769px) {
  .c-newsList__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .c-newsList__link:hover {
    background-color: rgba(255, 237, 238, .3);
  }
}

.c-newsList__date {
  font-size: 12px;
  font-size: 1.2rem;
}

@media (min-width: 769px) {
  .c-newsList__date {
    font-size: 1.6rem;
    width: 160px;
  }
}

.c-newsList__ttl {
  margin-top: 5px;
  font-size: 14px;
  font-size: 1.4rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 769px) {
  .c-newsList__ttl {
    font-size: 1.6rem;
    width: calc(100% - 160px);
    margin: 0;
  }
}

.c-pager__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-pager__item {
  padding: 0 5px;
}

.c-pager__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #CCC;
  border-radius: 3px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #707070;
}

@media (min-width: 769px) {
  .c-pager__link {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .c-pager__link:hover {
    background-color: #FFEDEE;
  }
}

.c-pager__link.is-current {
  background-color: #FFEDEE;
}

.c-section {
  margin-bottom: 60px;
}

@media (min-width: 769px) {
  .c-section {
    margin-bottom: 90px;
  }
}

.c-section + .c-section {
  margin-top: 60px;
}

@media (min-width: 769px) {
  .c-section + .c-section {
    margin-top: 90px;
  }
}

.c-table {
  border: 1px solid #CCC;
}

@media (min-width: 769px) {
  .c-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: none;
  }
}

.c-table dt {
  background-color: #EEEEEE;
  border-bottom: 1px solid #CCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-size: 1.2rem;
  min-height: 40px;
  padding: 0 15px;
  font-weight: normal;
  line-height: 1.6;
}

@media (min-width: 769px) {
  .c-table dt {
    display: block;
    padding: 15px;
    width: 150px;
    border-right: 1px solid #CCC;
  }
}

.c-table dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-size: 1.2rem;
  min-height: 40px;
  padding: 15px;
  line-height: 1.6;
}

@media (min-width: 769px) {
  .c-table dd {
    width: calc(100% - 150px);
    border-bottom: 1px solid #CCC;
    padding: 15px;
  }
}

.c-table dd + dt {
  border-top: 1px solid #CCC;
}

@media (min-width: 769px) {
  .c-table dd + dt {
    border-top: none;
  }
}

.article__main * + * {
  margin-top: 20px;
}

@media (min-width: 769px) {
  .article__main * + * {
    margin-top: 40px;
  }
}

.article__main p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;
}

@media (min-width: 769px) {
  .article__main p {
    line-height: 1.8;
  }
}

.article__main p a {
  color: #FF9A9A;
  text-decoration: underline;
}

.article__main li {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;
}

.article__main li + li {
  margin-top: 10px;
}

.article__main ul {
  padding: 0 0 0 20px;
}

.article__main ul li {
  list-style: disc;
}

.article__main h1 {
  font-weight: 500;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
  border-bottom: 3px solid #FFDDDE;
  padding: 5px 0;
}

@media (min-width: 769px) {
  .article__main h1 {
    font-size: 2.4rem;
    border-bottom-width: 5px;
    padding: 0 0 10px;
    margin-bottom: -20px;
  }
}

.article__main h2 {
  font-weight: 500;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4;
  border-left: 3px solid #FFDDDE;
  padding: 3px 5px;
}

@media (min-width: 769px) {
  .article__main h2 {
    font-size: 2rem;
    border-left-width: 5px;
    padding: 5px 10px;
    margin-bottom: -20px;
  }
}

.article__main h3 {
  font-weight: 500;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;
}

@media (min-width: 769px) {
  .article__main h3 {
    font-size: 2rem;
    margin-bottom: -20px;
  }
}

.article__bottom {
  border-top: 1px solid #CCC;
  margin: 30px 0 0;
  padding: 30px 0 0;
}

@media (min-width: 769px) {
  .article__bottom {
    margin: 60px 0 0;
    padding: 60px 0 0;
  }
}

.article__bottom .c-button {
  margin-left: auto;
  margin-right: auto;
}

.article__bottom .c-button span {
  font-size: 16px;
  font-size: 1.6rem;
}

@media (min-width: 769px) {
  .article__bottom .c-button span {
    font-size: 1.8rem;
  }
}

@media (min-width: 769px) {
  .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.cart__main {
  border: 1px solid #CCC;
  padding: 30px 20px;
}

@media (min-width: 769px) {
  .cart__main {
    width: calc(100% - 400px);
    border: none;
    padding: 0 35px 0 0;
  }
}

.cart__side {
  position: relative;
  border: 1px solid #CCC;
  padding: 30px 20px;
  margin-top: 65px;
}

@media (min-width: 769px) {
  .cart__side {
    width: 400px;
    margin-top: 0;
    padding: 30px 40px 40px;
  }
}

.cart__side > span {
  display: block;
  width: 100px;
  height: 1px;
  background-color: #CCC;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}

@media (min-width: 769px) {
  .cart__side > span {
    display: none;
  }
}

.cart__side > span::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: #CCC;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -51px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.cart__side > span::after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: #CCC;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -9px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.cart__side::before {
  content: '';
  display: block;
  width: 100px;
  height: 30px;
  border-top: 30px solid #FFEDEE;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  top: -43px;
  left: 50%;
  margin-left: -50px;
}

@media (min-width: 769px) {
  .cart__side::before {
    display: none;
  }
}

.cart__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.cart__price dt {
  width: 50%;
  text-align: left;
  font-weight: normal;
  border-top: 1px dashed #CCC;
  padding: 15px 0;
}

.cart__price dd {
  width: 50%;
  text-align: right;
  border-top: 1px dashed #CCC;
  padding: 15px 0;
}

.cart__price dd.is-pink {
  color: #FF9A9A;
}

.cart .c-button span {
  font-size: 15px;
  font-size: 1.5rem;
}

.cart-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 0 30px;
}

.cart-list__item + .cart-list__item {
  padding-top: 20px;
  border-top: 1px solid #CCC;
}

@media (min-width: 769px) {
  .cart-list__item + .cart-list__item {
    padding-top: 30px;
  }
}

.cart-list__img {
  width: 100px;
}

@media (min-width: 769px) {
  .cart-list__img {
    width: 150px;
  }
}

.cart-list__img img {
  display: block;
  width: 100%;
}

.cart-list__body {
  width: calc(100% - 100px);
  padding: 0 0 0 15px;
}

@media (min-width: 769px) {
  .cart-list__body {
    width: calc(100% - 150px);
    padding: 0 0 0 30px;
  }
}

.cart-list__name {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
}

.cart-list__info {
  margin-top: 10px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
}

@media (min-width: 769px) {
  .cart-list__info {
    margin-top: 15px;
  }
}

.cart-list__price {
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 10px;
}

@media (min-width: 769px) {
  .cart-list__price {
    margin-top: 15px;
  }
}

.cart-list__delete {
  position: absolute;
  bottom: 30px;
  right: 0;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: underline;
  color: #707070;
}

@media (min-width: 769px) {
  .cart-list__delete {
    bottom: auto;
    top: 50%;
    margin-top: -0.5em;
  }
  .cart-list__delete:hover {
    text-decoration: none;
  }
}

.contact .c-heading--lv3 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .contact .c-heading--lv3 {
    font-size: 2rem;
    margin-bottom: 25px;
  }
}

.contact__bottom {
  margin-top: 30px;
}

@media (min-width: 769px) {
  .contact__bottom {
    margin-top: 60px;
  }
}

.contact__bottom .c-button span {
  font-size: 15px;
  font-size: 1.5rem;
}

@media (min-width: 769px) {
  .contact__bottom .c-button span {
    font-size: 1.8rem;
  }
}

.contact__error {
  color: #FF9A9A;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 10px;
}

@media (min-width: 769px) {
  .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 0;
  }
}

.detail-mv {
  margin-bottom: 30px;
}

@media (min-width: 769px) {
  .detail-mv {
    width: 510px;
    margin: 0;
  }
}

.detail-mv__slider {
  margin: 0 -20px;
}

@media (min-width: 769px) {
  .detail-mv__slider {
    margin: 0 0 20px;
  }
}

.detail-mv__slider .slick-arrow {
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 2;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail-mv__slider .slick-arrow::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #FFEDEE;
}

@media (min-width: 769px) {
  .detail-mv__slider .slick-arrow::before {
    width: 15px;
    height: 15px;
    border-bottom-width: 3px;
  }
}

.detail-mv__slider .slick-prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}

.detail-mv__slider .slick-prev::before {
  border-left: 2px solid #FFEDEE;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 769px) {
  .detail-mv__slider .slick-prev::before {
    border-left-width: 3px;
  }
}

.detail-mv__slider .slick-next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.detail-mv__slider .slick-next::before {
  border-right: 2px solid #FFEDEE;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 769px) {
  .detail-mv__slider .slick-next::before {
    border-right-width: 3px;
  }
}

.detail-mv__thumbs {
  display: none;
}

@media (min-width: 769px) {
  .detail-mv__thumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -6px -12px;
  }
}

.detail-mv__thumb {
  width: 16.6666%;
  padding: 0 6px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.detail-mv__thumb:hover {
  opacity: 0.6;
}

.detail-mv__img {
  display: block;
  width: 100%;
}

@media (min-width: 769px) {
  .detail-main {
    width: calc(100% - 510px);
    margin: 0;
    padding: 0 0 0 40px;
  }
}

.detail-main__block + .detail-main__block {
  margin-top: 40px;
}

.detail-main .c-heading--lv1 {
  margin: 0 0 10px;
}

@media (min-width: 769px) {
  .detail-main .c-heading--lv1 {
    font-size: 2.4rem;
  }
}

.detail-main__id {
  color: #707070;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0 0 10px;
}

@media (min-width: 769px) {
  .detail-main__id {
    margin: 0 0 15px;
  }
}

.detail-main__price {
  margin: 0 0 10px;
}

.detail-main__price span:nth-of-type(1) {
  font-size: 26px;
  font-size: 2.6rem;
}

@media (min-width: 769px) {
  .detail-main__price span:nth-of-type(1) {
    font-size: 2.8rem;
  }
}

.detail-main__price span:nth-of-type(2) {
  font-size: 16px;
  font-size: 1.6rem;
}

@media (min-width: 769px) {
  .detail-main__price span:nth-of-type(2) {
    font-size: 1.8rem;
  }
}

.detail-main__text {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7;
}

.detail-main__btns {
  margin: 40px 0;
}

@media (min-width: 769px) {
  .detail-main__btns {
    margin: 60px 0;
  }
}

.detail-main__btns .c-button + .c-button {
  margin-top: 15px;
}

.detail-main__btns .c-button + .c-button span {
  font-size: 16px;
  font-size: 1.6rem;
}

.detail-main__info {
  margin: 40px 0;
}

@media (min-width: 769px) {
  .detail-main__info {
    margin: 60px 0;
  }
}

.detail-main__info + .detail-main__info {
  margin-top: -10px;
}

@media (min-width: 769px) {
  .detail-main__info + .detail-main__info {
    margin-top: -20px;
  }
}

.detail-main__share p {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, .5);
  padding: 30px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 769px) {
  .filter {
    display: block;
    position: static;
    opacity: 1;
    pointer-events: auto;
    background-color: transparent;
    padding: 0;
  }
}

.filter.is-show {
  opacity: 1;
  pointer-events: auto;
}

.filter__inner {
  background-color: rgba(255, 255, 255, .95);
  overflow-y: scroll;
  height: 100%;
  padding: 20px 15px;
}

@media (min-width: 769px) {
  .filter__inner {
    overflow: visible;
    height: auto;
    background-color: transparent;
    padding: 0;
  }
}

.filter__block + .filter__block {
  margin-top: 40px;
}

.filter__block .c-button {
  width: 100%;
}

.filter__links {
  border-top: 1px solid #CCC;
}

.filter__links li {
  border-bottom: 1px solid #CCC;
}

.filter__links a {
  display: block;
  padding: 15px 10px;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
}

@media (min-width: 769px) {
  .filter__links a {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .filter__links a:hover {
    background-color: #FFEDEE;
  }
}

.filter__links a::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}

.filter__checks li + li {
  margin-top: 5px;
}

.filter__checks input {
  display: none;
}

.filter__checks input:checked + label::after {
  content: '';
  display: block;
  width: 14px;
  height: 8px;
  border-left: 2px solid #FF9A9A;
  border-bottom: 2px solid #FF9A9A;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 1px;
  left: 1px;
}

.filter__checks label {
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
  padding: 0 0 0 20px;
}

@media (min-width: 769px) {
  .filter__checks label {
    padding: 0 0 0 25px;
  }
}

.filter__checks label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 769px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 769px) {
  .list__main {
    width: calc(100% - 200px);
    padding: 0 0 0 40px;
  }
}

@media (min-width: 769px) {
  .list__side {
    width: 200px;
  }
}

.list-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 30px;
}

@media (min-width: 769px) {
  .list-brand {
    display: block;
    margin: 0 0 60px;
    padding: 0 0 0 230px;
    min-height: 200px;
    position: relative;
  }
}

.list-brand .c-heading--lv2 {
  width: 100%;
  text-align: left;
}

.list-brand .c-heading--lv2 span {
  font-size: 20px;
  font-size: 2rem;
}

@media (min-width: 769px) {
  .list-brand .c-heading--lv2 span {
    font-size: 2.8rem;
  }
}

.list-brand__img {
  width: 100px;
}

@media (min-width: 769px) {
  .list-brand__img {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.list-brand__img img {
  display: block;
  width: 100%;
}

.list-brand__txt {
  width: calc(100% - 100px);
  padding: 0 0 0 15px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7;
}

@media (min-width: 769px) {
  .list-brand__txt {
    padding: 0;
    font-size: 1.6rem;
    width: 100%;
  }
}

.list-header {
  position: relative;
  margin: 0 0 20px;
}

@media (min-width: 769px) {
  .list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.list-header p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #707070;
}

.list-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.list-header ul li {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 2px 0;
}

.list-header ul li + li {
  border-left: 1px solid #CCC;
  padding-left: 5px;
  margin-left: 5px;
}

@media (min-width: 769px) {
  .list-header ul li + li {
    padding-left: 10px;
    margin-left: 10px;
  }
}

.list-header ul li a {
  color: #707070;
}

@media (min-width: 769px) {
  .list-header ul li a:hover {
    text-decoration: underline;
  }
}

.list-header .c-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
}

@media (min-width: 769px) {
  .list-header .c-button {
    display: none;
  }
}

.list-header .c-button span {
  font-size: 16px;
  font-size: 1.6rem;
}

.top-mv {
  margin: 0 0 40px;
}

@media (min-width: 769px) {
  .top-mv {
    margin: 0 0 80px;
  }
}

@media (min-width: 769px) {
  .top-mv__item {
    width: 1020px;
    margin: 0 auto;
  }
}

.top-mv__link {
  display: block;
}

.top-mv__img {
  display: block;
  width: 100%;
}
